.questions-preview-bar-cont{
    position: relative;
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    width: 250px;
    align-self: stretch;
    overflow-y: scroll;
    height: 90vh;
}