.login-form-temp {
  min-width: 500px;
  width: 80%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 40px;
  padding: 15px;
  margin: 15px;
  background-color: white;
  border-radius: 5px;
}

.form-inputs-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.form-icon-buttons-cont {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form-links-cont{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.subcomponent-form-temp{
  display: flex;
  gap: 10px;
  width: 100%;
  flex-direction: column;
  
}