.running-class-cont {
    gap: 20px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


.student-running-class-logo{
  position: relative;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 20px
}