.student-running-class-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  padding: 20px;
  overflow-y: scroll;
}

.student-running-class-details-cont{
  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: stretch;
  border-radius: 10px;
  padding: 20px;
  gap: 20px;
  justify-content: stretch;
  margin: 0px 200px;
}

.student-running-class-img-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}


@media (min-width: 480px) {
  .student-running-class-details-cont {
    margin: 0px;
  }
}
