.student-running-class-details-choices-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  align-self: stretch;
  flex: 1;
}

.student-running-class-details-choice-cont {
  min-width: 160px;
  min-height: 110px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
