button{
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 30px;
  transition: all 200ms ease;
  color: white;
  border: none;
  font-weight: 500;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.secondary-button{
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 10px;
  transition: all 200ms ease;
  border: 2px solid #1779ba;
}

.secondary-button:hover{
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}


button:hover{
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

button:disabled{
  opacity: 0.8;
}