.page {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height:100vh;
}

.profile-template-page{
  display: flex;
  align-self: stretch;
  flex-direction: column;
  flex: 1;
  background-image: url('./assets/images/background.svg');
}