.toolbar-cont{
    position: relative;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    padding: 0px 20px;
    height: 10%;
    min-height: 70px;
    gap: 20px;
    box-shadow: 8px 0px 10px rgba(0, 0, 00, 0.5);
    
}

.tab-chooser-cont{
    display: flex;
    height: 100%;
    flex: 1;
    justify-content: center;
    align-content: center;
    align-items: center;
}